<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <title>Text based Adventure front-end</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <pre id="response"></pre>
    
    <!-- Hidden debug controls -->
    <div class="debug-controls">
        <select id="gameName" onchange="storeGame()">
            <option value="HauntedMansion">Haunted Mansion</option>
            <option value="PrisonEscape">Prison Escape</option>
            <option value="Eldoria">Eldoria (work in progress)</option>
            <!-- Add more games as needed -->
        </select>
        <button onclick="sendAction()">Send Action</button>
        <button onclick="generateNewSessionID()">Generate New Session ID</button>
        <input type="text" id="sessionID" size="32" onblur="setSessionID()" style="display: none;">
    </div>
    
    <!-- Toggle button -->
    <div class="toggle-container">
        <span>Options</span>
        <button onclick="toggleDebugControls()">M</button>
        <input type="text" id="actionInput" placeholder="Enter action here" size="50" autocomplete="off">
    </div>
    
    <script src="scripts.js"></script>
</body>
</html>
